<ion-header>
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    
    <ion-button  fill="outline" (click)="dismiss()" slot="end"><ion-icon  name="arrow-forward-circle-outline" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ user.nom }} {{ user.prenom }} - {{ user.tel }}</ion-card-title>
      <ion-card-subtitle> {{ user.ville }} - {{ user.campagne }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <qrcode [qrdata]="id" [size]="250" [level]="'H'" [elementType]="'img'"></qrcode>
      <div *ngFor="let item of works">
        <div *ngIf="item.time_end == ''">
          <br>
          <ion-text>{{ item.time_start.seconds*1000 | date:'dd/MM/yyyy'}}</ion-text>
          <br>
          <ion-text >{{ item.time_start.seconds*1000 | date:'hh:mm a'}} - en cours</ion-text>
          <br>
        </div>
        <div *ngIf="item.time_end != ''">
          <br>
          <ion-text>{{ item.time_start.seconds*1000 | date:'dd/MM/yyyy'}} - {{ item.time_end.seconds*1000 | date:'dd/MM/yyyy'}}</ion-text>
          <br>
          <ion-text >{{ item.time_start.seconds*1000 | date:'hh:mm a'}} - {{ item.time_end.seconds*1000 | date:'hh:mm a'}} ({{ ((item.time_end.seconds - item.time_start.seconds) * 1000)-3600000 | date:'hh:mm a'}})</ion-text>
          <br>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  
  
</ion-content>
