<ion-header>
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    
    <ion-button  fill="outline" (click)="dismiss()" slot="end"><ion-icon  name="arrow-forward-circle-outline" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ user.nom }} {{ user.prenom }} - {{ user.tel }}</ion-card-title>
      <ion-card-subtitle> {{ user.ville }} - {{ user.campagne }}</ion-card-subtitle>
      <ion-button *ngIf="works?.length > 0" (click)="Export()" size="small">Export CSV</ion-button>
    </ion-card-header>
  
    <ion-card-content>
      <qrcode [qrdata]="id" [size]="250" [level]="'H'" [elementType]="'img'"></qrcode>
      <ion-button (click)="getPng()" size="small">PNG</ion-button>
      <ion-grid *ngIf="works?.length > 0">

        <ion-row>
          <ion-col>
            Debut
          </ion-col>
          <ion-col>
            Fin
          </ion-col>
          <ion-col>
            Tmp Travaillé
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of works">
          <ion-col>{{ item.time_start | date:'dd/MM/yyyy HH:mm'}}</ion-col>
          <ion-col *ngIf="item.time_end == ''">en cours</ion-col>
          <ion-col *ngIf="item.time_end != ''">{{ item.time_end | date:'dd/MM/yyyy HH:mm'}}</ion-col>
          <ion-col *ngIf="item.time_end != ''">{{ item.time_sep | date:'HH:mm:ss'}}</ion-col>
          <ion-col *ngIf="item.time_end == ''"></ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  
  
</ion-content>
