<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Ajouter un livreur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item>
  <ion-label position="floating">Nom</ion-label>
  <ion-input [(ngModel)]="nom" required=true></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Prenom</ion-label>
  <ion-input [(ngModel)]="prenom" required=true></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">telephone</ion-label>
  <ion-input [(ngModel)]="tel" required=true></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Ville</ion-label>
  <ion-input [(ngModel)]="ville" required=true></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Campagne</ion-label>
  <ion-input [(ngModel)]="campagne" required=true></ion-input>
</ion-item>
<br>
<ion-button (click)="ajouter()" expand="block">Ajouter</ion-button>

<div *ngIf="id">
  <qrcode (click)="download()" [qrdata]="id" [size]="250" [level]="'H'" elementType="'img'"></qrcode>
</div>

</ion-content>
