<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Ajouter un livreur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item>
  <ion-label position="floating">Nom</ion-label>
  <ion-input [(ngModel)]="nom"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Prenom</ion-label>
  <ion-input [(ngModel)]="prenom"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">telephone</ion-label>
  <ion-input [(ngModel)]="tel" pattern="0[0-9]([0-9]{8})"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Ville</ion-label>
  <ion-input [(ngModel)]="ville"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Campagne</ion-label>
  <ion-input [(ngModel)]="campagne"></ion-input>
</ion-item>
<br>
<ion-button (click)="ajouter()" expand="block">Ajouter</ion-button>

<div *ngIf="id">
  <qrcode [qrdata]="id" [size]="250" [level]="'H'" [elementType]="'img'"></qrcode>
  <ion-button (click)="getPng()" size="small">PNG</ion-button>
</div>

</ion-content>
