<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Liste des Livreurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="tri_nom()">Nom</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="tri_ville()">Ville</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="tri_campagne()">Campagne</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>  
    <ion-item-sliding *ngFor="let item of Livreurs">
      <ion-item>
        <ion-label>{{item.Nom}} {{item.Prenom}} - {{item.Campagne}} - {{item.Ville}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="view(item)"><ion-icon name="eye-outline"></ion-icon></ion-item-option>
        <ion-item-option (click)="update(item)"><ion-icon name="pencil-outline"></ion-icon></ion-item-option>
        <ion-item-option (click)="delete(item.id)" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
